html {
    height: 100%;
  }
  
  body {
    font-family: sans-serif;
    padding: 0 10px;
    height: 100%;
    background: black;
    margin: 0;
  }
  
  h1 {
    color: white;
    margin: 0;
    padding: 15px;
  }
  
  #container {
    text-align: center;
    margin: 0;
  }
  
  #qr-canvas {
    margin: auto;
    width: calc(100% - 20px);
    max-width: 400px;
  }
  
  a#btn-scan-qr{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
  }
  
  a#btn-scan-qr1:hover{
    color:#000000;
    background-color:#FFFFFF;
  }
  @media all and (max-width:30em) {
    a#btn-scan-qr {
      display:block;
      margin:0.4em auto;
    }
  }
  
  
  #qr-result {
    font-size: 1.2em;
    margin: 20px auto;
    padding: 20px;
    max-width: 700px;
    background-color: white;
  }